[submodule "nist-source"]
	path = nist-source
	url = https://github.com/usnistgov/OSCAL.git
	branch = release-1.0
[submodule "nist-content"]
	path = nist-content
	url = https://github.com/usnistgov/oscal-content.git
