extra_css:
- css/extra.css
markdown_extensions:
- admonition
- markdown_include.include
- pymdownx.emoji
- pymdownx.magiclink
- pymdownx.superfences
- pymdownx.tabbed
- pymdownx.tasklist
- toc:
    permalink: "\xA4"
nav:
- Trestle overview: index.md
- Installation: python_trestle_setup.md
- Tutorials:
  - Intro to trestle workflow: tutorials/trestle_sample_workflow.md
  - Compliance posture: tutorials/continuous-compliance/continuous-compliance.md
  - Transformer construction: tutorials/task.transformer-construction/transformer-construction.md
  - Task - tanium-to-oscal: tutorials/task.tanuim-to-oscal/transformation.md
- Trestle command-line interface (CLI):
  - CLI for OSCAL documents: cli.md
  - CLI for authoring governed content: trestle_author.md
- Contributing:
  - Code of Conduct: mkdocs_code_of_conduct.md
  - Contributing overview: contributing/mkdocs_contributing.md
  - Contributors: https://github.com/IBM/compliance-trestle/graphs/contributors
  - Maintainers: maintainers.md
  - Documentation website: contributing/website.md
  - Developer Certificate of Originality: contributing/DCO.md
- Known limitations: errors.md
- Reference:
  - Integrating with IBM SCC: reference/third-party-result-schema-SCC.md
  - trestle API reference:
    - tasks:
      - base_task: api_reference/trestle.tasks.base_task.md
      - transform: api_reference/trestle.tasks.transform.md
      - osco_to_oscal: api_reference/trestle.tasks.osco_to_oscal.md
      - tanium_to_oscal: api_reference/trestle.tasks.tanium_to_oscal.md
    - core:
      - validator: api_reference/trestle.core.validator.md
      - oscal_version_validator: api_reference/trestle.core.oscal_version_validator.md
      - validator_helper: api_reference/trestle.core.validator_helper.md
      - models:
        - interfaces: api_reference/trestle.core.models.interfaces.md
        - elements: api_reference/trestle.core.models.elements.md
        - actions: api_reference/trestle.core.models.actions.md
        - plans: api_reference/trestle.core.models.plans.md
        - file_content_type: api_reference/trestle.core.models.file_content_type.md
      - base_model: api_reference/trestle.core.base_model.md
      - duplicates_validator: api_reference/trestle.core.duplicates_validator.md
      - generators: api_reference/trestle.core.generators.md
      - ncname_validator: api_reference/trestle.core.ncname_validator.md
      - parser: api_reference/trestle.core.parser.md
      - all_validator: api_reference/trestle.core.all_validator.md
      - utils: api_reference/trestle.core.utils.md
      - commands:
        - task: api_reference/trestle.core.commands.task.md
        - merge: api_reference/trestle.core.commands.merge.md
        - cmd_utils: api_reference/trestle.core.commands.cmd_utils.md
        - version: api_reference/trestle.core.commands.version.md
        - add: api_reference/trestle.core.commands.add.md
        - create: api_reference/trestle.core.commands.create.md
        - author:
          - cidd: api_reference/trestle.core.commands.author.cidd.md
          - command: api_reference/trestle.core.commands.author.command.md
          - docs: api_reference/trestle.core.commands.author.docs.md
          - consts: api_reference/trestle.core.commands.author.consts.md
          - common: api_reference/trestle.core.commands.author.common.md
          - headers: api_reference/trestle.core.commands.author.headers.md
          - folders: api_reference/trestle.core.commands.author.folders.md
        - replicate: api_reference/trestle.core.commands.replicate.md
        - remove: api_reference/trestle.core.commands.remove.md
        - command_docs: api_reference/trestle.core.commands.command_docs.md
        - assemble: api_reference/trestle.core.commands.assemble.md
        - validate: api_reference/trestle.core.commands.validate.md
        - split: api_reference/trestle.core.commands.split.md
        - import_: api_reference/trestle.core.commands.import_.md
        - init: api_reference/trestle.core.commands.init.md
      - object_factory: api_reference/trestle.core.object_factory.md
      - err: api_reference/trestle.core.err.md
      - const: api_reference/trestle.core.const.md
      - draw_io: api_reference/trestle.core.draw_io.md
      - refs_validator: api_reference/trestle.core.refs_validator.md
      - markdown_validator: api_reference/trestle.core.markdown_validator.md
      - validator_factory: api_reference/trestle.core.validator_factory.md
      - remote:
        - cache: api_reference/trestle.core.remote.cache.md
    - utils:
      - log: api_reference/trestle.utils.log.md
      - load_distributed: api_reference/trestle.utils.load_distributed.md
      - trash: api_reference/trestle.utils.trash.md
      - fs: api_reference/trestle.utils.fs.md
    - oscal:
      - catalog: api_reference/trestle.oscal.catalog.md
      - poam: api_reference/trestle.oscal.poam.md
      - profile: api_reference/trestle.oscal.profile.md
      - assessment_results: api_reference/trestle.oscal.assessment_results.md
      - target: api_reference/trestle.oscal.target.md
      - ssp: api_reference/trestle.oscal.ssp.md
      - component: api_reference/trestle.oscal.component.md
      - assessment_plan: api_reference/trestle.oscal.assessment_plan.md
    - transforms:
      - transformer_factory: api_reference/trestle.transforms.transformer_factory.md
      - results: api_reference/trestle.transforms.results.md
      - transformer_singleton: api_reference/trestle.transforms.transformer_singleton.md
      - utils:
        - tanium_helper: api_reference/trestle.transforms.utils.tanium_helper.md
        - osco_helper: api_reference/trestle.transforms.utils.osco_helper.md
      - implementations:
        - tanium: api_reference/trestle.transforms.implementations.tanium.md
        - osco: api_reference/trestle.transforms.implementations.osco.md
    - cli: api_reference/trestle.cli.md
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        rendering:
          group_by_category: true
          show_category_heading: true
          show_if_no_docstring: true
          show_root_heading: true
        selection:
          filters:
          - '!^_[^_]'
          - '!^__json'
          - '!^__config__'
          new_path_syntax: true
    watch:
    - trestle
repo_name: IBM/compliance-trestle
repo_url: https://github.com/IBM/compliance-trestle
site_description: Documentation for compliance-trestle package.
site_name: Compliance Trestle
site_url: https://ibm.github.io/compliance-trestle
theme:
  name: material
  palette:
    accent: purple
    primary: teal
    scheme: slate
