extra_css:
- css/extra.css
markdown_extensions:
- admonition
- markdown_include.include
- pymdownx.emoji
- pymdownx.magiclink
- pymdownx.superfences
- pymdownx.tabbed
- pymdownx.tasklist
- toc:
    permalink: "\xA4"
nav:
- Overview: index.md
- Trestle cli: cli.md
- Tutorials:
  - setting up python and trestle: tutorials/python_trestle_setup.md
  - intro to trestle workflow: tutorials/trestle_sample_workflow.md
  - transformer construction: tutorials/task.transformer-construction/transformer-construction.md
  - task tanium-to-oscal: tutorials/task.tanuim-to-oscal/transformation.md
- Code of Conduct: mkdocs_code_of_conduct.md
- Contributing:
  - Overview: contributing/mkdocs_contributing.md
  - Contributors: https://github.com/IBM/compliance-trestle/graphs/contributors
  - Maintainers: maintainers.md
  - Documentation website: contributing/website.md
  - Developer Certificate of Originality: contributing/DCO.md
- Reference:
  - Overview: api_overview.md
  - trestle:
    - cli: api_reference/trestle.cli.md
    - core:
      - base_model: api_reference/trestle.core.base_model.md
      - commands:
        - add: api_reference/trestle.core.commands.add.md
        - assemble: api_reference/trestle.core.commands.assemble.md
        - cmd_utils: api_reference/trestle.core.commands.cmd_utils.md
        - command_docs: api_reference/trestle.core.commands.command_docs.md
        - create: api_reference/trestle.core.commands.create.md
        - import_: api_reference/trestle.core.commands.import_.md
        - init: api_reference/trestle.core.commands.init.md
        - merge: api_reference/trestle.core.commands.merge.md
        - remove: api_reference/trestle.core.commands.remove.md
        - replicate: api_reference/trestle.core.commands.replicate.md
        - split: api_reference/trestle.core.commands.split.md
        - task: api_reference/trestle.core.commands.task.md
        - validate: api_reference/trestle.core.commands.validate.md
        - version: api_reference/trestle.core.commands.version.md
      - const: api_reference/trestle.core.const.md
      - duplicates_validator: api_reference/trestle.core.duplicates_validator.md
      - err: api_reference/trestle.core.err.md
      - generators: api_reference/trestle.core.generators.md
      - models:
        - actions: api_reference/trestle.core.models.actions.md
        - elements: api_reference/trestle.core.models.elements.md
        - file_content_type: api_reference/trestle.core.models.file_content_type.md
        - interfaces: api_reference/trestle.core.models.interfaces.md
        - plans: api_reference/trestle.core.models.plans.md
      - object_factory: api_reference/trestle.core.object_factory.md
      - parser: api_reference/trestle.core.parser.md
      - remote:
        - cache: api_reference/trestle.core.remote.cache.md
      - utils: api_reference/trestle.core.utils.md
      - validator_factory: api_reference/trestle.core.validator_factory.md
      - validator_helper: api_reference/trestle.core.validator_helper.md
    - oscal:
      - assessment_plan: api_reference/trestle.oscal.assessment_plan.md
      - assessment_results: api_reference/trestle.oscal.assessment_results.md
      - catalog: api_reference/trestle.oscal.catalog.md
      - component: api_reference/trestle.oscal.component.md
      - poam: api_reference/trestle.oscal.poam.md
      - profile: api_reference/trestle.oscal.profile.md
      - ssp: api_reference/trestle.oscal.ssp.md
      - target: api_reference/trestle.oscal.target.md
    - tasks:
      - base_task: api_reference/trestle.tasks.base_task.md
      - osco_to_oscal: api_reference/trestle.tasks.osco_to_oscal.md
      - tanium_to_oscal: api_reference/trestle.tasks.tanium_to_oscal.md
      - transform: api_reference/trestle.tasks.transform.md
    - third_party:
      - exchange_protocol: api_reference/trestle.third_party.exchange_protocol.md
    - utils:
      - fs: api_reference/trestle.utils.fs.md
      - load_distributed: api_reference/trestle.utils.load_distributed.md
      - log: api_reference/trestle.utils.log.md
      - osco: api_reference/trestle.utils.osco.md
      - tanium: api_reference/trestle.utils.tanium.md
      - trash: api_reference/trestle.utils.trash.md
plugins:
- search
- mkdocstrings:
    handlers:
      python:
        rendering:
          group_by_category: true
          show_category_heading: true
          show_if_no_docstring: true
          show_root_heading: true
        selection:
          filters:
          - '!^_[^_]'
          - '!^__json'
          - '!^__config__'
          new_path_syntax: true
    watch:
    - trestle
repo_name: IBM/compliance-trestle
repo_url: https://github.com/IBM/compliance-trestle
site_description: Documentation for compliance-trestle package.
site_name: Compliance Trestle
site_url: https://ibm.github.io/compliance-trestle
theme:
  name: material
  palette:
    accent: purple
    primary: teal
    scheme: slate
