# Control Page

{{
control_writer.write_control_with_sections(control, profile, group_title,
['statement', 'objective', 'ExpectedEvidence', 'guidance', 'table_of_parameters'],
{'statement':'Statement Header',
'objective':'Control Objective Header',
'guidance':'Implementation Guidance',
'table_of_parameters':'Table of Control Parameters'
},
label_column=True,
add_group_to_title=False
)
| safe
}}
