[task.synthesize-oscal-cd]

title = Component definition for PCI
version = V1.1
cd = /home/degenaro/git/trestle.synthesize-cd/tests/trestle/tasks/synthesize-oscal-cd/component-definitions/SCC/component-definition.json
mc = /home/degenaro/git/trestle.synthesize-cd/tests/trestle/tasks/synthesize-oscal-cd/mapping-collections/PCI/mapping-collection.json
output-dir = /home/degenaro/git/trestle.synthesize-cd/tests/trestle/tasks/synthesize-oscal-cd/component-definitions/PCI
output-overwrite = true
