name: "Lint PR title"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - 'main'
      - 'develop'
permissions:
  contents: read

jobs:
  lint:
    if: ${{ github.head_ref != 'develop' }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Install dependencies
      run: npm install @commitlint/cli @commitlint/config-conventional

    - name: Validate PR title
      run: |
        PR_TITLE=$(jq -r '.pull_request.title' "$GITHUB_EVENT_PATH")
        echo "$PR_TITLE" | npx commitlint --config commitlint.config.js
