# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
name: Trestle PR pipeline
on:
  pull_request:
  push:
    branches:
      - develop
permissions: read-all
jobs:
  set-versions:
    runs-on: ubuntu-latest
    outputs:
      min: ${{ steps.versions.outputs.min }}
      max: ${{ steps.versions.outputs.max }}
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - id: versions
      run: |
        min_version=$(jq '.PYTHON_MIN' -r version.json)
        max_version=$(jq '.PYTHON_MAX' -r version.json)
        echo "min=$min_version" >> $GITHUB_OUTPUT
        echo "max=$max_version" >> $GITHUB_OUTPUT
  lint:
    needs: set-versions
    runs-on: ubuntu-latest
    steps:
    - name: Don't mess with line endings
      run: |
        git config --global core.autocrlf false
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ needs.set-versions.outputs.max }}
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ~/.cache/pip
        key: ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
          ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-
    - name: Install hatch
      run: |
        pip install hatch
    - name: Setup pre-commit
      run: |
        make pre-commit
    - name: Run md document formatting (mdformat)
      run: |
        make mdformat
    - name: Run code formatting (ruff)
      run: |
        make code-format
    - name: Run code linting (ruff)
      run: |
        make code-lint
    - name: Run code typing check (mypy)
      continue-on-error: true
      run: |
        make code-typing
    - name: Install documentation dependencies
      run: |
        make docs-ubuntu-deps
    - name: Validate website content (mkdocs)
      run: |
        hatch run docs:validate
    - name: Check if dirty (mkdocs)
      run: |
        make check-for-changes

# This test simulates what it is like for a user to install trestle today.
# Coverage cannot be calculated as part of
  bdist:
    needs: set-versions
    runs-on: ubuntu-latest
    steps:
    - name: Don't mess with line endings
      run: |
        git config --global core.autocrlf false
    - name: Don't mess with line endings
      run: |
        git config --global core.autocrlf false
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ needs.set-versions.outputs.max }}
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ~/.cache/pip
        key: ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
          ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-
    - name: Install hatch
      run: |
        pip install hatch
    - name: Run binary tests
      run: |
        make test-bdist

  test:
    # This test
    needs: set-versions
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [ '${{ needs.set-versions.outputs.min }}', '${{ needs.set-versions.outputs.max }}' ]
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip
        - os: windows-latest
          path: ~\AppData\Local\pip\Cache
    steps:
    - name: Don't mess with line endings
      run: |
        git config --global core.autocrlf false
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ${{ matrix.path }}
        key: ${{ matrix.os }}-${{ matrix.python-version }}-pip-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
         ${{ matrix.os }}-${{ matrix.python-version }}-pip-
    - name: Is core test version
      id: core-version
      run: echo "core=${{ (matrix.os == 'ubuntu-latest' && matrix.python-version == needs.set-versions.outputs.max ) }}" >> $GITHUB_OUTPUT
    - name: Install hatch
      run: |
        pip install hatch
    - name: Run tests
      if: steps.core-version.outputs.core != 'true'
      run: |
        hatch test -py ${{ matrix.python-version }}
    - name: Run tests with coverage
      if: steps.core-version.outputs.core == 'true'
      run: |
        hatch test --cover -py ${{ matrix.python-version }}

    - name: Upload artifact
      if: steps.core-version.outputs.core == 'true'
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        name: coverage
        path: coverage.xml

  sonar:
    if: ${{ (github.event.pull_request.base.repo.url == github.event.pull_request.head.repo.url && github.triggering_actor != 'dependabot[bot]' ) }}
    runs-on: ubuntu-latest
    needs: [ test, set-versions]
    steps:
    - name: Don't mess with line endings
      run: |
        git config --global core.autocrlf false
    - name: Don't mess with line endings
      run: |
        git config --global core.autocrlf false
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ needs.set-versions.outputs.max }}
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ~/.cache/pip
        key: ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-${{ hashFiles('pyproject.toml') }}
        restore-keys: |
          ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-
    - name: Get coverage
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: coverage
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@ba3875ecf642b2129de2b589510c81a8b53dbf4e # master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.python.coverage.reportPaths=coverage.xml
          -Dsonar.tests=tests/
          -Dsonar.sources=trestle/ 
          -Dsonar.python.version=${{ needs.set-versions.outputs.max }}
          -Dsonar.projectKey=compliance-trestle
          -Dsonar.organization=compliance-trestle
          -Dsonar.cpd.exclusions=trestle/oscal/*.py
          -Dsonar.exclusions=trestle/oscal/*.py
    - name: SonarQube Quality Gate check
      uses: sonarsource/sonarqube-quality-gate-action@df914238f99aa5d81f4490aeea80f205c7ed9600 # master
      # Force to fail step after specific time
      timeout-minutes: 5
      env:
       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  snyk:
    if: ${{ (github.event.pull_request.base.repo.url == github.event.pull_request.head.repo.url && github.triggering_actor != 'dependabot[bot]' ) }}
    runs-on: ubuntu-latest
    needs: [ set-versions ]
    steps:
      - name: Don't mess with line endings
        run: |
          git config --global core.autocrlf false
      - name: Don't mess with line endings
        run: |
          git config --global core.autocrlf false
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ needs.set-versions.outputs.max }}
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pip
          key: ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ubuntu-latest-${{ needs.set-versions.outputs.max }}-pip-
      - uses: ./.github/actions/snyk-test
        with:
          token: ${{ secrets.SNYK_TOKEN }}
