name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge-info:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
  automerge:
    # If it's not coming from develop - squash-merge.
    if: github.base_ref == 'refs/heads/develop' || github.event.pull_request.base.ref == 'develop' || contains(github.event.pull_requests.*.base.ref == 'develop')
    #if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.2"
        env:
          GITHUB_TOKEN: "${{ secrets.WRITE_PAT }}"
          MERGE_METHOD: squash
          MERGE_FORKS: false
          UPDATE_METHOD: merge
  automerge_main:
    # if it is coming from develop to a merge commit.
    # This makes some assumptions on indexing, however, should be safe.
    if: github.base_ref == 'refs/heads/main' || github.event.pull_request.base.ref == 'main' || contains(github.event.pull_requests.*.base.ref == 'main')
    #if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.2"
        env:
          GITHUB_TOKEN: "${{ secrets.WRITE_PAT }}"
          MERGE_METHOD: merge
          MERGE_FORKS: false
          UPDATE_METHOD: merge
