name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    # If it's not coming from develop - squash-merge.
    if: github.ref != 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.2"
        env:
          LOG: "TRACE"
          GITHUB_TOKEN: "${{ secrets.WRITE_PAT }}"
          MERGE_METHOD: squash
          MERGE_FORKS: false
          UPDATE_METHOD: merge
  automerge_main:
    # if it is coming from develop to a merge commit.
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.2"
        env:
          LOG: "TRACE"
          GITHUB_TOKEN: "${{ secrets.WRITE_PAT }}"
          MERGE_METHOD: merge
          MERGE_FORKS: false
          UPDATE_METHOD: merge
