name: automerge
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    if: github.base_ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.1"
        with:
          args: "--trace"
        env:
          GITHUB_TOKEN: "${{ secrets.ADMIN_PAT }}"
          MERGE_METHOD: squash
          MERGE_FORKS: false
          UPDATE_METHOD: merge
  automerge_main:
    if: github.base_ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.14.1"
        with:
          args: "--trace"
        env:
          GITHUB_TOKEN: "${{ secrets.ADMIN_PAT }}"
          MERGE_METHOD: merge
          MERGE_FORKS: false
          UPDATE_METHOD: merge
